$color-primary:#9b27b0;
$color-primary2: darken($color:#9b27b0 , $amount: 15);
$color-primary3:  lighten($color: #9b27b0, $amount: 5);
$color-warning:#fb8c00  ;
$color-indigo:#3f51b5  ;
$color-text:#79ff74  ;


 